

/*  muhammed */


/************ TABLE OF CONTENTS ***************

1. Reset
2. Global colors




**********************************************/



/*** 

====================================================================
	Reset
====================================================================

 ***/

 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



/*** 


====================================================================
	Global 
====================================================================


 ***/

 :root {

    --brand-green: #05D3AA;
    --brand-blue: #0E51AC;
  }



  body {
    font-family: 'Inter' !important;
}



/*** 


====================================================================
	about 
====================================================================


 ***/


/* Full-width header section */
.header-section_contact {
    min-height: auto; /* Ensures it grows with content */
    height: auto; /* Ensures it does not have a fixed height */
    display: flex; /* Helps in adjusting height if needed */
    align-items: center; /* Centers content vertically */
    padding: 5% 0; /* Adds spacing */
    padding-top: 15% !important; /* Adds spacing */
    background-image: url('../img/contact-bg.jpg');
    background-size: cover; /* Ensures the image covers the entire viewport */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image repetition */
    color: #fff !important;

}




.error-message {
    color: #F1B209;
    font-size: 0.875rem;
    display: none;
}


@media only screen and (max-width: 768px) { 


    .header-section_contact {
    
      

        padding-top: 40% !important; /* Adds spacing */
        padding: 0 20px;
        
        
    }



    .navbar-toggler{

        background-color: #fff !important;
        
    }


    .about_text{

        font-size: 2rem;
    }

    .right-column{

        margin-top: 30px !important;
    }



        
   
}



.icon-box {
    background-color: #fff;
    color: #F1B209;

    border-radius: 5px;
    margin-left: 10px;
    width: 60px;
    height: 60px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-box img{

    height: 45px;
}
.right-column {
    text-align: right;
    display: flex;
    justify-content: sta;
    align-items: end;

    flex-direction: column;
}

.right-column-item{

    display: flex;
    align-items: center;
}


.form-control{

    background-color: transparent !important;
    height: 60px;
    color: #fff !important;
    width: 80% !important;
}


@media only screen and (max-width: 768px) { 


    .form-control{

        background-color: transparent !important;
        height: 60px;
        color: #fff !important;
        width: 100% !important;
    }


    .right-column{

        align-items: start !important;

    }

    .right-column-item{

        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        gap: 30px;
        text-align: left;

    }
    

}



.contact_btn{

    background-color: #F1B209 !important;
    border-radius: 10px !important;
}

.about_section{

    margin-top: 100px !important;
}